

</body>
<footer id="footer">
<%   var date = new Date(); %>
<%   var year = date.getFullYear() %>

    <div class="container-fluid">
      <a class="footer-link" href="https://www.instagram.com/piyushc10"><img src="/instagram.png" alt="instagram"></a>
      <a class="footer-link" href="https://www.facebook.com/piyush.chouhan.1297943"><img src="/facebook.png" alt="facebook"></a>
    <!-- <a class="footer-link" href="https://piyushchauhan07.github.io/cv/"><img src="images/sitelogo.png" alt="Website"></a> -->
      <p class="footer-para">&copy; <%= year %> Kunal</p>
    <div>
</footer>

</html>
