<%- include("header") -%>

<img class="successimg" src="/successfulpayment.gif" alt="Payment Successful">
<p>Payment Successfull</p>


<form class="gobackbtn" action="/transferinfo" method="post">
  <button class="btn btn-dark" type="submit" name="button">Go Back</button>
</form>
