<%- include("header") -%>

<img class="successimg" src="/paymentfailure.gif" alt="Payment Unsuccessful">
<p>Cannot send Money to same account.</p>

<form class="gobackbtn" action="/transferinfo" method="post">
  <button class="btn btn-dark" type="submit" name="button">Go Back</button>
</form>
